{% extends 'staff_template/base_template.html' %}

{% block main_content %}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
{% if action is None %}
  <div class="row justify-content-center">

      <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4 ">
            <h3 class="card-title">View Attendance</h3>
                <div class="form-floating mb-3">
                  {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>

              <form action="?action=view_attendance" method="POST">
                  {% csrf_token %}
                    <div class="form-floating mb-3">
                        <select class="form-control" name="subject_id" id="subject_id" required>
                            {% for i in subject %}
                              <option value="{{ i.id }}">{{ i.subject_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingInput">Select Subject</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-control" name="session_year_id" id="session_year_id" required>
                            {% for i in session_year %}
                              <option value="{{ i.id }}">{{ i.session_start_year }} TO {{ i.session_end_year }}</option>
                            {% endfor %}
                        </select>
                        <label for="floatingInput">Select Session Year</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="attendance_date" value="" required>
                        <label for="floatingInput">Attendance Date</label>
                    </div>

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Show Students</button>
                    </div>
              </form>
          </div>
      </div>

  </div>
{% else %}
    <div class="row justify-content-center">

      <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4 ">
            <h3 class="card-title">View Attendance</h3>
                <div class="form-floating mb-3">
                  {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>

              <form>
                  {% csrf_token %}
                    <div class="form-floating mb-3">
                        <select class="form-control" name="subject_id" id="subject_id" disabled>
                              <option value="{{ get_subject.id }}">{{ get_subject }}</option>
                        </select>
                        <label for="floatingInput">Selected Subject</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-control" name="session_year_id" id="session_year_id" disabled>
                              <option value="{{ get_session_year.id }}">{{ get_sessionYear}}</option>
                        </select>
                        <label for="floatingInput">Selected Session Year</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="date" class="form-control" name="attendance_date" value="{{ attendance_date }}" disabled>
                        <label for="floatingInput">Attendance Date</label>
                    </div>
              </form>
          <div class="table-responsive">
              <table class="table text-start align-middle table-bordered table-hover mb-0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for i in attendance_report %}
                        <tr>
                          <td>{{ i.student_id.admin.id }}</td>
                          <td>{{ i.student_id.admin.first_name }}</td>
                          <td>{{ i.student_id.admin.email }}</td>
                        </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>

          </div>
      </div>

  </div>
{% endif %}
</div>
<!-- Form End -->

{% endblock main_content %}