{% if messages %}
    <div class="form-floating">
        <div class="col-12">
            {% for message in messages %}
            {% if message.tags == "error" %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                </div>
            {% elif message.tags == "success" %}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                {{ message }}
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
<form role="form" action="{{ action_path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="bg-secondary rounded h-100 p-4">

            {% for field in form %}
            <div class="file-input form-control-lg" >
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
            </div>
            {% endfor %}
        </div>

        <div class="card-footer">
          <button type="submit" class="btn btn-primary btn-block">{{ button_text }}</button>
        </div>
</form>