{% extends 'hod_template/base_template.html' %}

{% block main_content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-3x fa-user-graduate text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Today Student</p>
                    <h6 class="mb-0 text-center">{{student_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa-3x fa fa-user-check text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Staff</p>
                    <h6 class="mb-0 text-center">{{staff_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-book fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Course</p>
                    <h6 class="mb-0 text-center">{{course_count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-book-open fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Subjects</p>
                    <h6 class="mb-0 text-center">{{ subject_count }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4 justify-content-center">
        <div class="col-sm-12 col-xl-6 w-50">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Course Wise Students</h6>
            </div>
              <div class="card-body">
                <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4">
            <div class="h-100 bg-secondary rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Calender</h6>
                </div>
                <div id="calender"></div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}

{% block custom_js %}
<script>
    $(document).ready(function(){


    });
</script>

{% endblock custom_js %}