{% extends 'student_template/base_template.html' %}

{% block main_content %}

<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
  <div class="row justify-content-center">

      <div class="col-sm-12 col-xl-6">
          <div class="bg-secondary rounded h-100 p-4 ">
            <h3 class="card-title">Edit Profile</h3>

              <form role="form" method="post" action="{% url 'add_student_save' %}" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="form-group mb-3">
                     <label>Profile Pic</label>
                     <input type="file" class="form-control" name="profile_pic">
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="username" value="{{ user.email }}" disabled="disabled">
                    <label for="floatingInput">Email Address</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                  <label for="floatingInput">First Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                  <label for="floatingInput">Last Name</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="address" value="{{ student.address }}">
                  <label for="floatingInput">Address</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="password" placeholder="Fill Only If You want to Change Password">
                  <label for="floatingInput">Change Password</label>
                </div>

                <div class="form-floating mb-3">
                  {% if messages %}
                       {% for message in messages %}
                       {% if message.tags == 'error' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{message}}
                       </div>
                       {% endif %}
                       {% endfor %}
                  {% endif %}
                  {% if messages %}
                       {% for message in messages %}
                       {% if message.tags == 'success' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                          {{message}}
                       </div>
                       {% endif %}
                       {% endfor %}
                  {% endif %}
                </div>

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Save Profile</button>
                </div>

              </form>

          </div>
      </div>

  </div>
</div>
<!-- Form End -->

{% endblock main_content %}
