{% extends 'registration/base.html' %}
{% block content %}
    <div class="bg-secondary rounded p-6">
      <h4 class="login-box-msg">Forgot Password ?</h4>

      <form method="post">
          {% csrf_token %}
          {% for field in form %}

          <div class="form-group mb-3">
              {{ field.errors }}
              {{ field.label_tag }}
              <label for="{{ field.id_for_label }}"></label><input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>

          {% endfor %}
          <button type="submit" class="btn btn-block btn-success">Submit</button>
      </form>

    </div>
{% endblock content %}